<!doctype html>
<html ng-app="myApp"> 
    
<head>
    <title>QuoteSharer 9000</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>
        
<body>  
    <div ng-controller="myController">
        <div class="horizontalFlex">
            <div style="min-width:510px;">
                <h2 id="welcomeText">Welcome to QuoteSharer, <%= username %></h2>
                <h3>The number one way to share you favorite quote with the class!</h3>
            </div>
            <div style="float:right; min-width:115px">
                <a id="logoutLink" href="/logout">Logout</a> | 
                <a id="editLink" href="/user">Edit User</a>
            </div>
        </div>
        <hr>
        <h3>Quotes from your fellow classmates</h3>
        <div class="quote" ng-repeat="user in quotes">
            <p><div style="font-style:italic">{{user.quote}}</div>
            <strong>-{{user.username}}</strong></p>
        </div>
    </div>
    <br/>
    <br/>
    <hr>
    <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
    <script src="/javascripts/my_app.js"></script>
</body>
      
</html>